/* general stylings*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Oswald", sans-serif;
}

body {
  margin: 0px;
}

::selection {
  color: blue;
  background-color: yellow;
}

/* specific stylings */
/*text-align: center;*/

.header {
  text-align: center;
  background-color: floralwhite;
  padding: 30px 16px;
}

.profession::after {
  content: " 👨‍💻";
}

.nav-link {
  padding: 4px 8px;
  color: darkgreen;
}

.nav-link:hover {
  background-color: coral;
}

.nav-link:active {
  color: white;
  background-color: red;
}

.nav-link + .nav-link {
  margin-left: 16px;
}

.main {
  padding: 16px;
}

.main > * + * {
  margin-top: 48px;
}

.main > * {
  border-top: 2px solid grey;
}

.main > *:first-child {
  border-top: none;
}

.experience-heading {
  display: inline-block;
}

.experience-subheading {
  display: inline-block;
}
